<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %5level [%thread] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="kr.co.smart">
    <level value="debug"/> <!-- trace: SQL문+결과, debug: SQL문 -->
  </logger>
  <root level="error">
    <appender-ref ref="stdout"/>
  </root>

</configuration>